
<div class="filter-select-container">
  <ng-container *ngFor="let selectGroup of selectGroups | async; first as first; last as last;">

    <div class="filter-select" [ngClass]="{'firstOrLast': first || last}">
      <h4>{{(titlePrefix + ' ' + selectGroup?.category).toUpperCase()}}</h4>

      <mat-form-field appearance="outline">
        <mat-select [value]="0" #test>

          <ng-container *ngFor="let option of selectGroup?.options">
            <mat-option [value]="option?.id">{{option?.label}}</mat-option>
          </ng-container>

        </mat-select>
      </mat-form-field>
    </div>

  </ng-container>
</div>
