
<div class="app-image">
  <img [src]="app?.Icon">
</div>

<div class="app-description">
  <h4 class="app-title">
    <a href="apps/app/{{app?.UrlKey}}">{{app?.Name}}</a>
    <span
      class="type"
      [ngClass]="{'stable': app?.Type?.Id === appTypeIds.stable, 'top': app?.Type?.Id === appTypeIds.top, 'new': app?.Type?.Id === appTypeIds.new, 'old': app?.Type?.Id === appTypeIds.old}"
      *ngIf="!!app?.Type"
    >{{app?.Type?.Title}}</span>
  </h4>
  <span [innerHTML]="app?.ShortDescription"></span>
</div>

<div class="app-taggs">
  <ng-container *ngFor="let Tag of app?.Tags">
    <span class="tag">{{Tag?.Title}}</span>
  </ng-container>
</div>
